@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$noto: "Open Sans", Arial, Helvetica, sans-serif;
$scroll-track-bg: #f1f1f1;
$scroll-thumb-bg: #888;
$scroll-thumb-bg-hover: #555;
$box-shadow: rgb(0 0 0 / 14%) 0px 2px 6px;
$box-shadow2: rgb(0 0 0 / 14%) 0px 5px 6px;
$box-shadow3: rgb(0 0 0 / 18%) 0px 2px 10px;
$box-shadow4: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
$grid-box-shadow: -1px -1px 6px rgb(0 0 0 / 5%);
$box-shadow5: 1px 1px 5px rgb(0 0 0 / 7%);
$box-shadow-header: rgb(180 180 180 / 20%) 0px 0px 3px;
$bg-white: rgba(255, 255, 255, 1);
$bg-light-gray: #f7f7f7;
$bg-blue: #0582be;
$text-black: black;
$mat-input-text-color: #495057;
$border-color1: #9b9b9b36;
$text-light-black: #333333;
$tab-text: #2b95c8;
$text-light-gray: #919191;
$text-light-gray2: #999999;
$text-light-gray3: #8e8e8e;
$text-gray: gray;
$bg-gold: #aa7c2f;
$bg-light-red: #ff2626;
$bg-light-green: #5a8c23;
$bg-white2: #edf2f5;
$text-light-gray4: #666666;
$text-light-gray5: #f6f6f6;
$text-white: rgba(255, 255, 255, 1);

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: $scroll-track-bg;
}
body::-webkit-scrollbar-thumb {
  background: $scroll-thumb-bg;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-bg-hover;
}
body {
  max-width: calc(100vw);
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $noto;
}

.icon-left {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 36px;
  height: 36px;
}
.wrapper {
  width: 100%;
  position: relative;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-white;
  display: block;
  box-shadow: $box-shadow-header;
}

header nav {
  width: 100%;
  height: 48px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-logo .hamburger {
  width: 48px;
  height: 48px;
  padding: 6px;
}
header .header-logo .logo {
  cursor: pointer;
}
header .header-logo .logo img {
  height: 34px;
}

header .header-logo .logo img.logo-hex {
  filter: brightness(0) invert(1);
}

header {
  padding: 0px 15px;
}

header .header-icon ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}

header .header-icon ul li {
  list-style: none;
}
.icon-main-menu {
  position: absolute;
  background-image: url("../img/icon-default-menu.svg");
  width: 15px;
}
.icon-lazard-logo {
  position: absolute;
  background-image: url("../img/icons/lazard-logo.svg");

  width: 111px;
}
.icon-search {
  position: absolute;
  background-image: url("../img/icons/search-icon.svg");
}
.icon-notification {
  position: absolute;
  background-image: url("../img/icons/notify-icon.svg");
}
.icon-bankertool-kit {
  position: absolute;
  background-image: url("../img/icons/banker-tool-kit.svg");
}
.icon-user-profile {
  position: absolute;
  background-image: url("../img/icons/profile.svg");
}
.icon {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;
}

.icon-application {
  background-image: url("../img/application-icon.svg");
}
.icon-dashboard {
  background-image: url("../img/icons/dashboard.svg");
}
.icon-banker {
  background-image: url("../img/icons/banker-bio.svg");
}
.icon-research {
  background-image: url("../img/icons/research.svg");
}
.icon-relarionship {
  background-image: url("../img/icons/relationship.svg");
}
.icon-lcp {
  background-image: url("../img/icons/lcp.svg");
}

.icon-add-edit {
  background-image: url("../img/icons/add-edit.svg");
  height: 36px;
  width: 36px;
}
.icon-setting {
  background-image: url("../img/icons/setting-icon.svg");
}
.icon-grdp {
  background-image: url("../img/icons/gdrp.svg");
}
.icon-pin {
  background-image: url("../img/icon-pin.svg");
}
.icon-edit {
  background-image: url("../img/icon-edit.svg");
}
.icon-save {
  background-image: url("../img/icon-save.svg");
}
.icon-reset {
  background-image: url("../img/icon-reset.svg");
}
.icon-edit-cancel {
  background-image: url("../img/icon-edit-cancel.svg");
}

//   .sidebar
.sidebar {
  position: fixed;
  top: 48px;
  left: -43px;
  width: 48px;
  height: calc(100vh - 48px);
  background-color: $bg-white;
  box-shadow: $box-shadow2;
  z-index: 3;
  padding: 6px 6px 50px 6px;
  transition: all 0.2s ease;
  overflow-x: hidden;
}

.sidebar.open {
  width: 48px;
  left: -43px;
}

.sidebar.open:hover {
  width: 220px;
  left: 0;
}
.sidebar.open:hover .sidebar-link::after {
  display: unset;
}
.sidebar.pinned {
  left: 0px;
}
.sidebar.pinned:hover {
  width: 220px;
  left: 0;
}
.sidebar.pinned:hover .sidebar-link::after {
  display: unset;
}
.sidebar.pinned .icon-pin {
  background-image: url("../img/icon-pin-filled.svg");
}

.sidebar .nav_list {
  margin-bottom: 0rem;
  padding: 0px;
  li {
    position: relative;
    list-style: none;
    width: 100%;
    margin: 0 0px;
    padding: 6px 0;
    transition: all 0.4s ease;
    a {
      display: flex;
      text-decoration: none;
      color: $text-black;
      &:hover {
        background: $bg-light-gray;
      }
    }
  }
}

.sidebar .nav_list li a .icon-left {
  flex: none;
}
.sidebar .nav_list li .sidenav-links_name {
  padding-left: 16px;
  font-size: 13px;
  font-weight: 400;
  white-space: pre;
}
.sidebar .nav_list li .links_name {
  font-size: 14px;
  padding-left: 6px;
  padding-top: 8px;
  font-weight: 600;
  white-space: pre;
}
.sidebar .left-posin {
  margin-bottom: 0rem;
  display: block;
  margin-bottom: 0rem;
  position: absolute;
  left: 0;
  bottom: 60px;
  padding-left: 0rem;
}
.sidebar .left-posin li {
  list-style: none;
}
.sidebar .left-posin a span.image-span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidenav-icon {
  width: 36px;
  height: 36px;
}
.sidenav-sub-icon {
  background-image: url("../img/icons/subnavicon.svg");
  width: 16px;
  height: 16px;
}

.nav_list li ul {
  padding-left: 10px;
  li {
    padding: 0px !important;
    a {
      padding: 7px 0;
    }
  }
}

#sidenavigation-collapse {
  padding-left: 10px;
}
#sidenavigation-collapse li {
  padding: 5px 0px;
}

.nav_list li .sidebar-link[aria-expanded="true"]::after {
  transform: rotate(90deg);
}
.sidebar-link.selected::before {
  content: " ";
  width: 5px;
  height: 22px;
  background: $bg-blue;
  position: absolute;
  top: 13px;
  border-radius: 3px;
  left: 0;
}
.sidebar-link::after {
  content: " ";
  background-image: url("../img/icons/arrow-drop.svg");
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 5px;
  transition: transform 0.35s ease;
  display: none;
}
.sidebar-link.no-arrow::after {
  content: none;
}

a {
  text-decoration: none !important;
}

.icon-google {
  background-image: url("../img/icons/icon-google.svg");
}
.icon-twitter {
  background-image: url("../img/icons/icon-twitter.svg");
}
.icon-linkedin {
  background-image: url("../img/icons/icon-linkedin.svg");
}
.icon-pinterest {
  background-image: url("../img/icons/icon-pinterest.svg");
}
.icon-tumbler {
  background-image: url("../img/icons/icon-tumbler.svg");
}
.icon-add-app {
  background-image: url("../img/icon-add-app.svg");
}
.icon.icon-menu {
  background-image: url("../img/menu.svg");
  width: 20px;
  height: 20px;
}

// .navbar-collapse

.navbar-collapse {
  margin-left: 25px;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.side-text {
  line-height: 50px;
  padding-left: 10px;
}

/* right-sidebar */
.right-side {
  position: relative;
}
.rightsidebar {
  position: fixed;
  top: 48px;
  right: -50px;
  width: 50px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(180 180 180 / 20%) 0px 0px 3px;
  transition: all 0.5s ease;
  z-index: 201;
}

/* right-sidebar inner-li */
.rightsidebar ul {
  width: 100%;
  display: block;
  margin-bottom: 0rem;
  margin-top: 8px;
  padding: 0px !important;
}
.rightsidebar ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 4px 10px 4px;
}
.right-sid-after {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: -7px;
  cursor: pointer;
  background-color: $bg-white;
  border-radius: 50px;
  box-shadow: $box-shadow3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.angle-left i {
  font-size: 18px;
  transition: all 0.2s ease;
  transform: rotate(0deg);
}

/* .rightsidebar rightclose */
.rightsidebar.rightclose {
  right: 0px;
  transition: all 0.5s ease;
}
.rightsidebar.rightclose .right-sid-after {
  right: 9px;
  transition: all 0.2s ease;
}
.rightsidebar.rightclose .angle-left i {
  display: block;
  transition: all 0.2s ease;
  transform: rotate(180deg);
}

/* notific-div */
.notific-div {
  width: 315px;
  height: auto;
  background-color: $bg-white;
  border-radius: 3px;
  box-shadow: $box-shadow;
  position: absolute;
  top: 40px;
  right: 0px;
  display: none;
  transition: all 0.5s ease;
  .tabs {
    width: 100%;
    ul {
      padding: 0px 12px 3px 8px;
      display: flex;
      align-items: center;
      justify-content: left;
      border-bottom: 1px solid $border-color1;
      li {
        padding: 10px 12px 0px 12px;
        a {
          font-size: 12px;
          line-height: 15px;
          color: $text-light-black;
          opacity: 80%;
          font-family: $noto;
          position: relative;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.notific-div .tabs ul li.active a:before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-bottom: 2px solid $tab-text;
  width: 100%;
  z-index: 2;
}
.notific-div .tabs ul li.active a {
  color: $tab-text;
}

#tabs-content {
  width: 100%;
  padding: 15px 26px;
}
.notific-div-tab1-ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
  .image {
    width: 26px;
    height: 26px;
    position: relative;
    .green-img {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}

.notific-div-tab1-ul {
  .notific-div-tab1-content {
    padding: 5px 10px 0px 11px;
    p {
      font-size: 10px;
      line-height: 12px;
      color: $text-light-black;
      font-family: $noto;
      margin-bottom: 0px;
      opacity: 85%;
      span {
        font-size: 8px;
        line-height: 12px;
        color: $text-light-gray;
        font-family: $noto;
        font-weight: 500;
      }
    }
  }
}

.mat-menu-content {
  padding-top: 3px;
  padding-bottom: 0px;
}

/* expanded-search */
header .header-icon ul li.search-icon {
  width: 36px;
  height: 36px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  transition: all 0.4s ease;
}
header .header-icon ul li.search-icon:hover {
  background-color: $bg-light-gray;
}
.expanded-search {
  width: 0px;
  position: absolute;
  top: 0;
  right: 30px;
  height: 33px;
  border-radius: 6px;
  transition: all 0.4s ease;
  z-index: -1;
}
.expanded-search form .form-control {
  display: block;
  width: 100%;
  padding: 16px 18px;
  font-size: 11px;
  line-height: 15px;
  color: $mat-input-text-color;
  background-color: $bg-light-gray;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 6px;
  transition: all 0.4s ease;
  font-family: $noto;
  height: 36px;
}
.expanded-search form .form-control:focus {
  box-shadow: none;
}
header .header-icon ul li.search-icon.expandsearches {
  background-color: $bg-light-gray;
}
header .header-icon ul li.search-icon.expandsearches .expanded-search {
  width: 398px;
  transition: all 0.4s ease;
  z-index: 1;
  right: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: $box-shadow4;
  list-style: none;
  display: flex;
  align-items: center;
  color: $text-light-black !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-dragging a {
  display: flex;
}
.cdk-dragging .icon-left {
  width: 36px;
  height: 36px;
}

.main {
  min-width: 320px;
  margin: 48px 50px 48px 48px;
}
.options {
  padding: 10px;
  display: grid;
}

.options-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.source-code-button {
  justify-self: end;
}

[draggable] {
  user-select: none;
  cursor: pointer;
}

app-widget-a,
app-widget-b,
app-widget-c {
  display: flex;
  height: 100%;
  width: 100%;
  color: $text-light-gray2;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

code {
  background: $bg-white;
}

.mr-10 {
  margin-right: 10px;
}
.cbtn-primary {
  cursor: pointer;
  background-color: $bg-blue;
  border: 1px solid $bg-blue !important;
  height: 30px !important;
  color: $bg-white !important;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}

.cbtn-primary.gray {
  background-color: $text-gray;
}

.cbtn-secondary {
  cursor: pointer;
  background-color: $text-light-gray3 !important;
  border: 1px solid $text-light-gray3 !important;
  height: 30px !important;
  color: $bg-white !important;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}

.cbtn-tertiary {
  cursor: pointer;
  background-color: $bg-gold;
  border: 1px solid $bg-gold;
  height: 30px;
  color: $bg-white;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}

.cbtn-red {
  cursor: pointer;
  background-color: $bg-light-red;
  border: 1px solid $bg-light-red;
  height: 30px;
  color: $bg-white;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}

.cbtn-green {
  cursor: pointer;
  background-color: $bg-light-green;
  border: 1px solid $bg-light-green;
  height: 30px;
  color: $bg-white;
  padding: 4px 20px;
  font-size: 12px;
  font-weight: 500;
}

.scroll-window::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll-window::-webkit-scrollbar-track {
  background: $scroll-track-bg;
}
.scroll-window::-webkit-scrollbar-thumb {
  background: $scroll-thumb-bg;
}
.scroll-window::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-bg-hover;
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}
.icon-search {
  background-image: url("../img/icon-search.svg");
}
.icon-pencil {
  background: url("../img/icon-pencil.svg") no-repeat center center;
}
.icon-hamburger {
  background: url("../img/hamburger-icon.svg") no-repeat center center;
}
.grid-top {
  background-color: $bg-white;
  padding: 5px 15px;
  box-shadow: $grid-box-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.gt-left {
  display: flex;
  align-items: center;
}
.left-nav-open {
  width: calc(100vw - 50px);
  margin-left: 50px;
}
.right-nav-open {
  width: calc(100vw - 50px);
}
.left-nav-open.right-nav-open {
  margin-left: 50px;
  margin-right: 50px;
  width: calc(100vw - 100px);
}

.gridster-wrap {
  margin: 0px 0px 0px;
}
.custom-input-group .icon-search {
  width: 13px;
  height: 13px;
}
.custom-input-group input:focus {
  box-shadow: none;
}
.custom-input-group input {
  border: 0;
  font-size: 13px;
}
.custom-input-group .input-group-prepend {
  padding: 3px 10px;
  display: flex;
  align-items: center;
}
header .icon-pencil {
  background-size: 18px;
  width: 36px;
  height: 36px;
}
// .page-header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//    padding: 10px;
//   }
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  background: #fff;
  box-shadow: rgb(180 180 180 / 20%) 0px 0px 3px;
  position: fixed;
  top: 48px;
  left: 40px;
  width: calc(100%);
  z-index: 2;
}
.page-header.pinned {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 15px;
  background: #fff;
  box-shadow: rgb(180 180 180 / 20%) 0px 0px 3px;
  position: fixed;
  top: 48px;
  left: 0px;
  width: calc(100vw);
  z-index: 2;
}
// .page-title {
//   font-size: 16px;
//   font-weight: 500;
// }

gridster {
  // background:$bg-white !important;
  background: #fdfdfd !important;
  padding: 10px !important;
  // padding: 0 10px 10px !important;
  position: unset !important;
  min-height: calc(100vh);
}
gridster-item {
  box-shadow: $box-shadow5;
}
.section-title {
  font-size: 14px;
  font-weight: 700;
  color: $text-light-black;
}
.section-subtitle {
  font-size: 11px;
  color: $text-light-black;
}
.ph-right {
  display: flex;
}
.tags {
  font-size: 12px;
  color: $text-light-gray4;
  background-color: $bg-white2;
  border-radius: 2px;
  padding: 2px 5px;
  margin: 0 0 0 5px;
}
.tags.active-tag {
  color: $bg-white;
  background-color: $bg-blue;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 0px 15px;
}
.form-control {
  border: 0;
  height: 30px;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}

.img4 {
  background: url("../img/4.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.img5 {
  background: url("../img/5.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.img6 {
  background: url("../img/6.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.img7 {
  background: url("../img/7.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.page-title {
  font-size: 16px;
  font-weight: 700;
  font-family: $noto;
}

.wrap {
  color: $text-light-black !important;
}
.form-control:focus {
  box-shadow: none;
}
.sidebar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: $scroll-track-bg;
}

.sidebar::-webkit-scrollbar-thumb {
  background: $scroll-thumb-bg;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb-bg-hover;
}
.sidebar.pinned .pin {
  display: block;
}
.pin {
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 48px !important;
  padding: 6px !important;
  background-color: $text-light-gray5;
  display: none;
  z-index: 1001;
}
.pin.pin-show {
  display: block;
}
.sidebar .nav_list .pin a:hover {
  background: transparent;
}
.action-btns {
  display: flex;
}
.btn-edit {
  margin: 0 0 0 5px;
}
.action-btns a {
  display: flex;
  border-radius: 6px;
  transition: all 0.4s ease;
}
.action-btns a:hover {
  background-color: $text-light-gray5;
}
.action-btns .icon-edit {
  background-size: 24px;
}
.action-btns .icon-save {
  background-size: 28px;
}
.action-btns .icon-reset {
  background-size: 26px;
}
.action-btns .icon-edit-cancel {
  background-size: 25px;
}

/*new changes setting*/

.icon-lighttheme {
  background-image: url("../img/icons/light-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-defaulttheme {
  background-image: url("../img/icons/default-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-colortheme {
  background-image: url("../img/icons/color-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-comforttheme {
  background-image: url("../img/icons/comfort-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-Compact {
  background-image: url("../img/icons/condensed-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-showalways {
  background-image: url("../img/icons/showalways-theme.svg");
  width: 100px;
  height: 40px;
}
.icon-hidetheme {
  background-image: url("../img/icons/hide-theme.svg");
  width: 100px;
  height: 40px;
}
.row.screen-setting {
  margin: 0px -15px;
}
.theme-title {
  background-color: #f7f7f7;
  height: 30px;
  padding: 4px 22px;
  font-size: 14px;
}
.modal-body {
  padding: 0px 1rem;
}
.modal-header {
  padding: 10px 10px 10px 10px;
  align-items: center;
}
.modal-title {
  margin: 0px !important;
  font-size: 14px !important;
}
.theme-data {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .btn-close {
  padding: 0px;
  margin: 0px;
}
.modal-footer {
  padding: 5px !important;
}
.btn.btn-secondary,
.btn.btn-primary {
  border-radius: 0px;
  padding: 5px 17px;
  font-size: 13px;
}
.apps-item {
  display: none;
  width: 300px;
  height: 350px;
  background-color: white;
  /* margin: 50px; */
  position: absolute;
  right: 0px;
  border: 2px solid #f7f7f7;
  border-radius: 2px;
}
.apps-item.show {
  display: block;
  top: 378px;
  left: 99px;
  overflow: scroll;
  z-index: 1;
}
.wrap {
  color: #333 !important;
  padding-top: 53px;
}
.apps-item::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.apps-item::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.apps-item::-webkit-scrollbar-thumb {
  background: #888;
}
.apps-item::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.apps-name {
  font-size: 10px;
  font-weight: 500;
}
.apps-item .row {
  padding: 19px 20px;
  margin: 0px;
}

.icon-shift {
  background-image: url("../img/icons/shifticon.svg");
  width: 36px;
  height: 36px;
}
.icon-tasks {
  background-image: url("../img/icons/task-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-update {
  background-image: url("../img/icons/update-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-powerpoint {
  background-image: url("../img/icons/power-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-notes {
  background-image: url("../img/icons/notes-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-excel {
  background-image: url("../img/icons/excel-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-events {
  background-image: url("../img/icons/events-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-approval {
  background-image: url("../img/icons/approval-icon.svg");
  width: 36px;
  height: 36px;
}
.icon-team {
  background-image: url("../img/icons/team-icon.svg");
  width: 36px;
  height: 36px;
}
.search-item {
  padding: 5px;
}
.search-item .form-control {
  background-color: #f7f7f7;
  padding: 20px 15px;
}
.form-control:focus {
  box-shadow: none;
}
.icon-search {
  background-image: url("../img/icons/search-icon.svg");
}
.input-group-text {
  background-color: #f7f7f7;
  border: none;
  padding: 0px !important;
  border-radius: 0px;
  cursor: pointer;
}

.links_name.v4 {
  border-bottom: 2px solid rgb(180 180 180 / 20%);
  padding: 0px 0px 0px 0px;
  display: block;
  font-size: 14px;
  line-height: 51px;
  font-weight: 600;
  color: #000000;
  font-family: $noto;
}
